.main-box {
    position: relative;
    background: #F4F4F4;
    width: 100vw;
    min-height: 100vh;
    
}
.form-box {
    max-width: 760px;
    padding: 10px;
    
}


.form-el {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 100px 80px;
    margin-bottom: 10px;
    
}

.form-text {
    display: flex;
    justify-content: center;
    font-family: "Raleway", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.check-box , .check-box:focus , .check-box::after{
    border-radius: 0;
    border: 2px solid gray;
}

.check-box:checked {
    background-color: rgb(104, 101, 101);
    border: 1px solid gray;
}