input{
    padding: 10px;
    height: 55px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.input:focus {
    box-shadow: none;
    border-color: rgb(192, 189, 189);
    border-width: 0 0 1px 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    
}
input::placeholder {
    font-weight: 400;
font-size: 20px;
line-height: 23px;

color: rgba(0, 0, 0, 0.5);
}

.input:focus::placeholder {
    visibility: hidden;             
}

@media only screen and (max-width: 700px) {
    .main-box {
        background-color: white;
    }
    .form-container {
        
        background-color: gray;
     
    }
    .form-el {
        display: flex;
        gap: .25rem;
        flex-direction: column;
       

    }
    
  }

  input[type="submit"] {
    background: rgba(12, 12, 12, 0.85);
  }